# Local Gradle / IDE ignores
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.idea/
.vscode/
.DS_Store

# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.zip
*.tar.gz
*.rar

# JVM crash logs
hs_err_pid*
replay_pid*
